{% extends "acuatica/base.html" %}

{% load static %}

{% block title%} Sistema
Principal
{% endblock %}

{% block site_css %}
<link rel="stylesheet" href="{% static 'styles/acuatica.css' %}">
</link>
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="{% static 'styles/ventas.css' %}">
</link>
<link rel="stylesheet" href="{% static 'styles/clientes.css' %}">
</link>
<link rel="stylesheet" href="{% static 'styles/catalogo.css' %}">
</link>
<link rel="stylesheet" href="{% static 'styles/entradas.css' %}">
</link>
<link rel="stylesheet" href="{% static 'styles/reporteventas.css' %}">
</link>




{% endblock %}
{% block site_js %}

{% endblock %}

{% block content %}

<div class="main-content">

    <header class="header" id="header" margin-bottom="50px">
        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>

    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div> <a href="#" class="nav_logo"> <i class='bx bx-swim nav_logo-iconn'></i> <span
                        class="nav_logo-name">Acuatica Urioste</span> </a>
                <div class="nav_list">
                    <a href="{% url 'acuatica.sales'%}" class="nav_link active">
                        <i class='bx bx-grid-alt nav_icon'></i>
                        <span class="nav_name">Ventas</span>
                    </a>
                    <a href="{% url 'acuatica.clientes'%}" class="nav_link">
                        <i class='bx bx-user nav_icon'></i>
                        <span class="nav_name">Clientes</span>
                    </a>
                    <a href="{% url 'acuatica.catalogo'%}" class="nav_link">
                        <i class='bx bx-message-square-detail nav_icon'></i>
                        <span class="nav_name">Servicios</span>
                    </a>
                    <a href="{% url 'acuatica.inputs'%}" class="nav_link">
                        <i class='bx bx-bookmark nav_icon'></i>
                        <span class="nav_name">Inventario</span>
                    </a>
                    <a href="{% url 'acuatica.sales-report'%}" class="nav_link">
                        <i class='bx bx-folder nav_icon'></i>
                        <span class="nav_name">Reportes</span>
                    </a>
                </div>
            </div>
            <a href="{% url 'acuatica.logout' %}" class="nav_link">
                <i class='bx bx-log-out nav_icon'></i>
                <span class="nav_name">Cerrar Sesión</span>
            </a>
        </nav>
    </div>
    <!--Container Main start-->




    <div class="container" id="">
        {% block right_content %}
        {% endblock %}
    </div>


    <div class="modal fade" id="clientModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Datos de Cliente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form class="contenedor-pop" action="{% url 'acuatica.clientes' %}" method="POST"
                    entctype=multipart/form-data>
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="nombre-Cliente" class="col-form-label">Nombre:</label>
                                {{ form.name }}
                            </div>
                            <div class="col-md-4 ms-auto">
                                <label for="sangre" class="col-form-label">Tipo de sangre:</label>
                                {{ form.blood }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="apellido-Paterno" class="col-form-label">Apellido Paterno:</label>
                                {{ form.last_name }}
                            </div>
                            <div class="col-md-4 ms-auto">
                                <label for="avisar-emergencia" class="col-form-label">En caso de emergencia
                                    avisar:</label>
                                {{ form.emergency_contact }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="apellido-Materno" class="col-form-label">Apellido Materno:</label>
                                {{ form.second_last_name }}
                            </div>
                            <div class="col-md-4 ms-auto">
                                <label for="cel-emergencia" class="col-form-label">Telefono de emergencia:</label>
                                {{ form.emergency_phone }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="fecha-Nacimiento" class="col-form-label">Fecha
                                    Nacimiento<br>Ejemplo:2001-09-15</label>
                                {{ form.birth_date }}
                            </div>
                            <div class="col-md-4 ms-auto">
                                <label for="Dia-de-pago" class="col-form-label">Día de pago:</label>
                                {{ form.pay_day }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="genero" class="col-form-label">Género:</label>
                                {{ form.gender }}
                            </div>
                            <div class="col-md-4 ms-auto">
                                <label for="condicion-Medica" class="col-form-label">Condición médica:</label>
                                {{ form.medical_condition }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="direccion" class="col-form-label">Dirección:</label>
                                {{ form.address }}
                                <label for="suburb" class="col-form-label">Colonia:</label>
                                {{ form.suburb }}
                            </div>
                            <div class="col-md-4 ms-auto">
                                <label for="nivel" class="col-form-label">Nivel:</label>
                                {{ form.level }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="codigo-postal" class="col-form-label">C.P:</label>
                                {{ form.postal_code}}
                            </div>
                            <div class="col-md-4 ms-auto">
                                <label for="horario" class="col-form-label">Horario:</label>
                                {{ form.schedule }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="celular" class="col-form-label">Celular:</label>
                                {{ form.cel }}
                            </div>
                            <div class="col-md-4 ms-auto">
                                <label for="email" class="col-form-label">Email:</label>
                                {{ form.email }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="estado-civil" class="col-form-label">Estado Civil:</label>
                                {{ form.civil_status }}
                            </div>
                            <div class="col-md-4 ms-auto">
                                <label for="entero" class="col-form-label">¿Cómo se entero?:</label>
                                {{ form.heard_from }}
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4 mt-4 ">
                                <button class="btn  mb-4 btn-dark" data-bs-target="#exampleModalToggle2"
                                    data-bs-toggle="modal" data-bs-dismiss="modal">Tomar fotografia</button>

                            </div>
                            <div class="col-md-4 ms-auto" style="border:none;">
                                <img alt="" id="fotodecliente" width="250" height="175" style="border:none;">
                                {{form.image_source}}

                            </div>
                        </div>


                        <!--<div class="mb-3">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                        </div>-->

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Cerrar
                        </button>
                        <button type="submit" class="btn btn-dark">Agregar Cliente</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
        tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel2">Fotografia</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <video src="" id="webCam" autoplay playsinline width="400" height="250"></video>
                    <canvas id="canvas"></canvas>
                    </canvas>
                    <button id="startbitch" onclick="startpicture()">start camera</button>
                    <a onclick="take_snapshot()" id="snaper" href="">snap</a>
                    <div id="resultado">
                        <img href="" id=results style="display: none;"></img>

                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-target="#clientModal" data-bs-toggle="modal"
                        data-bs-dismiss="modal">Agregar fotografia</button>
                </div>
            </div>
        </div>
    </div>




    <div class="modal fade" id="clientUpdateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Datos de Cliente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form class="contenedor-pop" action="{% url 'acuatica.clientes' %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="nombre-Cliente" class="col-form-label">Nombre:</label>
                                <input value="{{ cli.pk }}" type="hidden" name="id" />
                                {{ form.name }}
                            </div>
                            <div class="col-md-4 ms-auto">
                                <label for="sangre" class="col-form-label">Tipo de sange:</label>
                                {{ form.blood }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="apellido-Paterno" class="col-form-label">Apellido Paterno:</label>
                                {{ form.last_name }}
                            </div>
                            <div class="col-md-4 ms-auto">
                                <label for="avisar-emergencia" class="col-form-label">En caso de emergencia
                                    avisar:</label>
                                {{ form.emergency_contact }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="apellido-Materno" class="col-form-label">Apellido Materno:</label>
                                {{ form.second_last_name }}
                            </div>
                            <div class="col-md-4 ms-auto">
                                <label for="cel-emergencia" class="col-form-label">Telefono de emergencia:</label>
                                {{ form.emergency_phone }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="fecha-Nacimiento" class="col-form-label">Fecha Nacimiento:</label>
                                {{ form.birth_date }}
                            </div>
                            <div class="col-md-4 ms-auto">
                                <label for="Dia-de-pago" class="col-form-label">Día de pago:</label>
                                {{ form.pay_day }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="genero" class="col-form-label">Genero:</label>
                                {{ form.gender }}
                            </div>
                            <div class="col-md-4 ms-auto">
                                <label for="condicion-Medica" class="col-form-label">Condición médica:</label>
                                {{ form.medical_condition }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="direccion" class="col-form-label">Dirección:</label>
                                {{ form.address }}
                                <label for="suburb" class="col-form-label">colonia:</label>
                                {{ form.suburb }}
                            </div>
                            <div class="col-md-4 ms-auto">
                                <label for="nivel" class="col-form-label">Nivel:</label>
                                {{ form.level }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="codigo-postal" class="col-form-label">C.P:</label>
                                {{ form.postal_code}}
                            </div>
                            <div class="col-md-4 ms-auto">
                                <label for="horario" class="col-form-label">Horario:</label>
                                {{ form.schedule }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="celular" class="col-form-label">Celular:</label>
                                {{ form.cel }}
                            </div>
                            <div class="col-md-4 ms-auto">
                                <label for="email" class="col-form-label">Email:</label>
                                {{ form.email }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="estado-civil" class="col-form-label">Estado Civil:</label>
                                {{ form.civil_status }}
                            </div>
                            <div class="col-md-4 ms-auto">
                                <label for="entero" class="col-form-label">¿Cómo se entero?:</label>
                                {{ form.heard_from }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                {{ form.image_source }}
                                <img src="" alt="" id="display">
                            </div>

                        </div>


                        <!--<div class="mb-3">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                        </div>-->

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Cerrar
                        </button>
                        <button type="submit" class="btn btn-dark">Actualizar Cliente</button>
                    </div>
                </form>
            </div>
        </div>
    </div>




    <div class="modal fade" id="catalogModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Datos del Producto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form class="contenedor-pop" action="{% url 'acuatica.inv-save' %}" method="POST">
                    <div class="modal-body">

                        {% csrf_token %}
                        {{inv_form.as_p}}


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Cerrar
                        </button>
                        <button type="submit" class="btn btn-dark">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!--xxxxxxxxxx REPETICION DE BLOQUE DE ARRIBA xxxxxxxxx-->



<div class="modal fade" id="updatecatalogModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Datos del Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="contenedor-pop" action="{% url 'acuatica.catalogo' %}" method="POST">
                <div class="modal-body">

                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="nombre-Cliente" class="col-form-label">Nombre:</label>
                                {{ form.name }}
                            </div>
                            <div class="col-md-4 ms-auto">
                                <label for="NumCode" class="col-form-label">Num code:</label>
                                {{ form.numcode }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="Medidas" class="col-form-label">Medidas:</label>
                                {{ form.measures }}
                            </div>
                            <div class="col-md-4 ms-auto">
                                <label for="NombreCorto" class="col-form-label">Nombre Corto:</label>
                                {{ form.short_name }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 ms-auto">
                                <label for="contained_products" class="col-form-label">Productos Contenidos:</label>
                                {{ form.contained_products }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="minimum_amount" class="col-form-label">Cantidad Minima:</label>
                                {{ form.minimum_amount }}
                            </div>
                            <div class="col-md-4 ms-auto">
                                <label for="max_amount" class="col-form-label">Cantidad Maxima:</label>
                                {{ form.max_amount }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="colors" class="col-form-label">Colores:</label>
                                {{ form.colors }}
                                <label for="browserdescription" class="col-form-label">Descripcion de buscador:</label>
                                {{ form.browserdescription }}
                            </div>
                            <div class="col-md-4 ms-auto">
                                <label for="browserTitle" class="col-form-label">Titulo de Buscador:</label>
                                {{ form.browserTitle }}
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-4 ms-auto">
                                <label for="friendly_url" class="col-form-label">URL Amigable:</label>
                                {{ form.friendly_url}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="cost" class="col-form-label">Precio:</label>
                                {{ form.cost }}
                            </div>
                            <div class="col-md-4 ms-auto">
                                <label for="total_cuantity" class="col-form-label">Cantidad Total:</label>
                                {{ form.total_cuantity }}
                            </div>
                        </div>
                        <div class="" style="display: none">
                            {{ form.measures}}
                            {{ form.visible}}
                            {{ form.branches}}
                            {{ form.size }}
                            <input type="hidden" name="pk" value="{{ inv.pk }}">
                        </div>

                    </div>

                    <!--FOTOFOTOFOTOFOTOFOTOFOTOFOTOFOTOFOTOFOTOFOTOFOTO-->

                    <div class="row">
                        <div class="col-md-4">
                            {{form.picture}}
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Cerrar
                        </button>
                        <button type="submit" class="btn btn-dark">Guardar</button>
                    </div>
            </form>
        </div>
    </div>
</div>
</div>

<div class="modal fade" id="periodo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="periodo">Periodo de Ventas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="contenedor-pop" action="" method="POST">
                <div class="modal-body">

                    {% csrf_token %}
                    <label for="firstDate" class="form-label">De:</label>
                    <input type="date" name="init_date" class="form-control">

                    <label style="margin-top: 10px;" for="secondDate" class="form-label">A:</label>
                    <input type="date" name="end_date" class="form-control">




                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cerrar
                    </button>
                    <button type="submit" class="btn btn-dark">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!--DETALLES VENTAS-->
<div class="modal fade" id="detalle_venta" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detalle_venta">Detalle de la venta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="firstDate" class="form-label">Productos:</label>
                {% for sale in sales %}
                    <p>{{sale.id}}</p>
                    {% for detail in sale.invsales_set.all %}                                 
                        <p>{{detail.inventory}}</p>
                        <p>{{detail.quantity}}</p>       
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>





<div class="modal fade" id="cancelar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titulocancelar">Cancelación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="contenedor-pop" action="" method="POST">
                <div class="modal-body">

                    {% csrf_token %}
                    Estas por cancelar esta venta, ¿Estas seguro?




                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cerrar
                    </button>
                    <button type="submit" class="btn btn-danger">Cancelar venta</button>
                </div>
            </form>
        </div>
    </div>
</div>








</div>
<script>
    let arrow = document.querySelectorAll(".arrow");

    for (var i = 0; i < arrow.length; i++) {
        arrow[i].addEventListener("click", (e) => {

            let arrowParent = e.target.parentElement.parentElement;
            console.log(arrowParent);
            arrowParent.classList.toggle("showMenu")
        });
    }


    (function () {
        'use strict'
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        tooltipTriggerList.forEach(function (tooltipTriggerEl) {
            new bootstrap.Tooltip(tooltipTriggerEl)
        })
    })()




    const webcamElement = document.getElementById('webCam');
    const canvasElement = document.getElementById('canvas');
    const startcam = document.getElementById("startbitch");


    const webcam = new Webcam(webcamElement, 'user', canvasElement);
    webcam.set({
        width: 320,
        height: 240,
        image_format: 'jpeg',
        jpeg_quality: 90
    });


    function startpicture() {
        webcam.start();
    };


    function take_snapshot() {
        // play sound effect

        let picture = webcam.snap();

        document.getElementById("results").src = picture;
        document.getElementById("snaper").href = picture;


        document.getElementById("fotodecliente").src = picture;
        document.getElementById("id_image_source").value = picture
        //document.getElementById("id_image_source").value = picture;
        ocultar = document.getElementById("id_image_source");
        ocultar.style.display = "none";

        webcam.stop();
        // take snapshot and get image data





    };
    document.getElementById("id_image_source").style.display = "none";
    function hidecatalog() {
        const visi = document.getElementById('id_visible');
        visi.style.display = "none";
        const size = document.getElementById('id_size');
        size.style.display = "none";
        const measures = document.getElementById('id_measures');
        measures.style.display = "none";
        const branches = document.getElementById('id_branches');
        branches.style.display = "none";
        const li = document.getElementById('id_limited_inventory');
        li.style.display = "none";
        const lo = document.getElementById('id_contained_products');
        lo.style.display = "none";
        const co = document.getElementById('id_colors');
        co.style.display = "none";
        const bo = document.getElementById('id_browserdescription');
        bo.style.display = "none";
        const to = document.getElementById('id_browserTitle');
        to.style.display = "none";
        const url = document.getElementById('id_friendly_url');
        url.style.display = "none";


    }



</script>


{% endblock %}