{% extends "acuatica/base.html" %}

{% load static %} 

{% block title%} Sistema
Principal 
{% endblock %}

{% block site_css %}
<link rel="stylesheet" href="{% static 'styles/acuatica.css' %}"></link>
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="{% static 'styles/ventas.css' %}"></link>
<link rel="stylesheet" href="{% static 'styles/clientes.css' %}"></link>
<link rel="stylesheet" href="{% static 'styles/catalogo.css' %}"></link>
<link rel="stylesheet" href="{% static 'styles/entradas.css' %}"></link>
<link rel="stylesheet" href="{% static 'styles/reporteventas.css' %}"></link>
{% endblock %}
{% block site_js %}

{% endblock %}

{% block content %}
<div class="main-content">
    <div class="admin-sidebar">
        <div class="logo-details">
            <i class='bx bx-swim'></i>
            <span class="logo_name">A. URIOSTE</span>
        </div>
        <ul class="nav-links">
            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class='bx bxs-cart'></i>
                        <span class="name_link">Ventas</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow' ></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Ventas</a></li>
                    <li><a href="{% url 'acuatica.sales'%}">Normal</a></li>
                    <li><a href="#">Programada</a></li>
                </ul>
            </li>
            <li>
                <a href="{% url 'acuatica.clientes' %}">
                    <i class='bx bxs-user-account' ></i>
                    <span class="name_link">Clientes</span>
                </a>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class='bx bx-box'></i>
                        <span class="name_link">Servicios</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow' ></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Servicios</a></li>
                    <li><a href="{% url 'acuatica.catalogo' %}">Catalogo</a></li>
                    <li><a href="#">Categoria A</a></li>
                    <li><a href="#">Categoria B</a></li>
                </ul>
            </li>
                <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class='bx bx-store-alt'></i>
                        <span class="name_link">Inventarios</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow' ></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Inventarios</a></li>
                    <li><a href="{% url 'acuatica.inputs' %}">Entradas</a></li>
                </ul>
            </li>
                <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class='bx bxs-report'></i>
                        <span class="name_link">Reportes</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow' ></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Reportes</a></li>
                    <li><a href="{% url 'acuatica.sales-report' %}">Ventas</a></li>
                    <li><a href="#">Venta Periodica</a></li>
                </ul>
            </li>
        
        </ul>
    </div>
    
    {% block right_content %}
    {% endblock %}
    
</div>
<script>
    let arrow = document.querySelectorAll(".arrow");
    
    for (var i = 0; i < arrow.length; i++){
        arrow[i].addEventListener("click", (e)=>{
            
        let arrowParent = e.target.parentElement.parentElement;
        console.log(arrowParent);
        arrowParent.classList.toggle("showMenu")
        });
    }
</script>


{% endblock %}
