{% extends 'acuatica/venta_normal.html' %} {% load static %} {% block title %}
Catalogo {% endblock %} {% block right_content %}
<div class="panel-derecho">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 0">
    <div class="container-fluid" style="padding: 4px 15px 4px 15px">
      <p style="margin-right: 20px">Catalogo</p>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
        <form class="d-flex">
          {% csrf_token %}
          <input class="form-control me-2" list="datalistCatalogOptions" id="catalogDataList"
            placeholder="Buscar Producto" aria-label="Search" autocomplete="off" name="inventory" />
          <datalist id="datalistCatalogOptions">
            {% for i in inventory %}
            <option value="{{i.name}}"></option>
            {% endfor %}
          </datalist>
        </form>
      </div>
    </div>
  </nav>
  {% if inv %}
  <div class="card text-white bg-secondary m-4" style="max-width: 18rem">
    <div class="card-header" style="background:#0e1837">{{inv.name}}</div>
    <div class="card-body" style="background:#0e1837">
      <h5 class="card-title"></h5>
      <p class="card-text">Costo: {{inv.cost}}</p>
      <p class="card-text">Cantidad: {{inv.total_cuantity}}</p>
      <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#updatecatalogModal"
        data-bs-whatever="@mdo" onclick="hide()">
        Actualizar
      </button>

    </div>
  </div>
  {% endif %}
</div>
<script>
  function hide() {
    const visi = document.getElementById('id_visible');
    visi.style.display = "none";
    const size = document.getElementById('id_size');
    size.style.display = "none";
    const measures = document.getElementById('id_measures');
    measures.style.display = "none";
    const branches = document.getElementById('id_branches');
    branches.style.display = "none";
    const li = document.getElementById('id_limited_inventory');
    li.style.display = "none";
    const lo = document.getElementById('id_contained_products');
    lo.style.display = "none";
    const co = document.getElementById('id_colors');
    co.style.display = "none";
    const bo = document.getElementById('id_browserdescription');
    bo.style.display = "none";
    const to = document.getElementById('id_browserTitle');
    to.style.display = "none";
    const url = document.getElementById('id_short_name');
    url.style.display = "none";
  }
</script>
{% endblock %}