{% extends "acuatica/acuatica.html" %} {% load static %} {% block title%}
Entradas{% endblock %} {%block right_content %}
<div class="panel-derecho">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 0">    
    <div class="container-fluid" style="padding: 4px 15px 4px 15px">
      <p style="margin-right: 20px">Entradas</p>
      <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
      </button>
      <form class="d-flex" action="{% url 'acuatica.inputs' %}" method="GET">
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          <li class="nav-item" style="margin-right: 20px">
            <label for="cantidad-entradas" class="form-label">Cantidad:</label>
            <input class="form-control" type="number" placeholder="Cantidad..." id="quantity" name="quantity" required/>
          </li>
          <li class="nav-item" style="margin-right: 20px">
            <label for="sucursalDataList" class="form-label">Producto:</label>
            <input
              class="form-control"
              list="productolistOptions"
              id="productoDataList"
              placeholder="Elegir..."
              autocomplete="off"
              name="product"
              required
            />
            <datalist id="productolistOptions">
              {% for i in inv %}
              <option value="{{i.id}} {{i.name}}"></option>              
              {% endfor %}
            </datalist>
          </li>
          <li>
            <button
            type="submit"
            class="nav-item btn btn-dark mt-3"            
            style="font-size: 12px"            
          >
            Hacer Entrada
          </button>
          </li>
        </ul>        
          
        </form>
      </div>
    </div>
  </nav>
  <form action="{% url 'acuatica.inputs' %}" method="post">
    {% csrf_token %}
    <div class="container p-0" style="width: 100%;">
      <table id="" class="table table-bordered table-condensed table-striped">
            
        <tr>
          <td>Cantidad</td>
          <td>Codigo</td>
          <td>Producto</td>
        </tr>
      </table>
    
    
      <table id="productTable" class="table table-bordered table-condensed table-striped">
        {% for data in data_table %}      
        <tr>
          <td>{{data.quantity}}</td>
          <td>{{data.id}}</td>
          <td>{{data.name}}</td>
        </tr>
        <input type="hidden" name="data" value='{{data_table}}'>
        {% endfor %}
      </table>
    </div>
    <div class="comment">
      <textarea
        id="title"
        type="text "
        onkeyup="Allow()"
        placeholder="Escribe algun comentario......"
      ></textarea>
      <button
        type="submit"
        class="btn btn-dark"                        
        style="font-size: 12px"
      >
        Crear entrada
      </button>
    </div>
  </form>
</div>

{% endblock%}
