{% extends "acuatica/acuatica.html" %} {% load static %} {% block title%}
Ventas{% endblock %} {%block right_content %}
<div class="panel-derecho">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 0">
    <div class="container-fluid" style="padding: 4px 15px 4px 15px">
      <p style="margin-right: 20px">Ventas</p>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form action="{% url 'acuatica.sales' %}" method="POST">
          {% csrf_token %}
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li style="margin-right: 20px">
              <label for="inventario" class="form-label">Producto:</label><br />
              {{form.inventario }}
            </li>

            <li class="nav-item" style="margin-right: 20px">
              <label for="cantidadventa" class="form-label">Cantidad:</label>
              <input
                class="form-control"
                id="cantidadventa"
                placeholder="cantidad..."
                name="quantity"
              />
            </li>
            <li class="nav-item" style="margin-right: 20px">
              <!--<li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Sucursal
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Acuatica</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#">Ajustes Contables</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#">Tiendita</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#">Mantenimiento</a></li>
              </ul>
            </li>-->
              <button
                type="submit"
                class="btn btn-dark mt-3"
                style="font-size: 15px"
              >
                Agregar
              </button>
            </li>
          </ul>
        </form>
        <form class="d-flex">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item" style="margin-right: 20px">
              <button
                type="button"
                class="btn btn-dark"
                data-bs-toggle="modal"
                data-bs-target="#catalogModal"
                data-bs-whatever="@mdo"
                style="font-size: 15px"
              >
                Nuevo producto
              </button>
            </li>

            <li></li>
          </ul>
        </form>
      </div>
    </div>
  </nav>

  <div class="position-relative">
    <table>
      <thead>
        <tr>
          <th>Cant.</th>
          <th>Producto</th>
          <th>Precio</th>
          <th>Imp.</th>
          <th>Descuento</th>
          <th>Recargo</th>
        </tr>
      </thead>
      <tbody>
        {% for x in products %}
        <tr>
          <td>{{x.quantity}}</td>
          <td>{{x.name}}</td>
          <td>{{x.cost}}</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="comment">
    <textarea
      id="title"
      type="text "
      onkeyup="Allow()"
      placeholder="Escribe algun comentario......"
    ></textarea>
  </div>
  <div class="position-absolute top-200px end-0">
    <div class="bg-pay p-3">
      <span class="font-weight-bold">Resumen de Venta</span>
      <div class="d-flex justify-content-between mt-2">
        <span class="fw-500">Subtotal </span> <span>$ precio </span>
      </div>
      <div class="d-flex justify-content-between mt-2">
        <span class="fw-500">Iva</span> <span>$0.0</span>
      </div>
      <div class="d-flex justify-content-between mt-2">
        <span class="fw-500">Total </span>
        <span class="text-success">${{total}}</span>
      </div>

      <hr />
      <div class="d-flex justify-content-between mt-2">
        <form class="" action="{% url 'acuatica.sales-charge' %}" method="POST">
          {% csrf_token %}
          <input
            type="hidden"
            class="form-control form-control-sm"
            id="colFormLabelSm"
            name="total"
            value="{{total}}"
          />
          {% for item in products %}
          <input
            type="hidden"
            class="form-control form-control-sm"
            id="colFormLabelSm"
            name="inv"
            value="{{item.id}},{{item.quantity}}"
          />
          {% endfor %}
          <div class="row mb-3 d-flex justify-content-between mt-2">
            <label
              for="colFormLabelSm"
              class="col-sm-2 col-form-label col-form-label-sm"
              style="margin-right: 0"
              >Efectivo</label
            >
            <div class="col-sm-auto">
              <input
                type="number"
                class="form-control form-control-sm"
                id="colFormLabelSm"
                name="cash"
              />
            </div>
          </div>
          <div class="row mb-3 d-flex justify-content-between mt-2">
            <label for="colFormLabel" class="col-sm-2 col-form-label"
              >T.Credito</label
            >
            <div class="col-sm-auto">
              <input
                type="number"
                class="form-control form-control-sm"
                id="colFormLabel"
              />
            </div>
          </div>
          <div class="row mb-3 d-flex justify-content-between mt-2">
            <label for="colFormLabel" class="col-sm-2 col-form-label"
              >Banco</label
            >
            <div class="col-sm-auto">
              <input
                type="number"
                class="form-control form-control-sm"
                id="colFormLabel"
              />
            </div>
          </div>
          <div class="row mb-3 d-flex justify-content-between mt-2">
            <input
              class="form-control"
              list="datalistClientOptions"
              id="clientDataList"
              placeholder="Buscar Cliente..."
              style="margin-right: 20px"
              name="client"
              autocomplete="off"
            />
            <datalist id="datalistClientOptions">
              {% for client in clients %}
              <option
                value="{{client.pk}} {{client.name}} {{client.last_name}} {{client.second_last_name}}"
                label="{{client.first_name}}"
              ></option>
              {%endfor%}
            </datalist>
          </div>
          <hr />
          <div class="d-flex justify-content-between mt-2">
            <span class="fw-500">Cambio </span>
            <span class="text-danger">$cambio</span>
          </div>
          <button type="submit" class="btn btn-dark" style="font-size: 12px">
            Cobrar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock%}
